<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form method="POST" action="/clientes/cadastrar/">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        <br>
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" required>
        <br>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="/">Página Inicial</a>
</body>
</html>
